fastapi>=0.110.0
uvicorn[standard]>=0.29.0
spotipy>=2.23.0
ytmusicapi>=1.6.0
google-api-python-client>=2.120.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0
yt-dlp>=2024.4.9
python-dotenv>=1.0.1
